version: '3.8'

services:
  aasist-api:
    image: iforgotmyname88/deepfake-api:latest
    container_name: aasist-api
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped